
html, body {
    margin: 0; height: 100%; overflow: hidden;
   
}

body{
    background: url('images/plx-5.png'), 
    url('images/plx-4.png') , url('images/plx-3.png'), 
    url('images/plx-2.png'),
    url('images/plx-1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    /* background: black; */
}

.set{
    position: relative;
    height: 600px; 
    width: 1200px; 
    bottom: 614px;
    left: 115px;
    border: 5px solid rgb(85, 120, 117);
    border-radius: 20px;
    overflow: hidden;
    

}

#background{
    position: relative;
    top: 0px;
    height: 600px; 
    width: 1200px; 
    border: 5px solid rgb(85, 120, 117);
    border-radius: 20px;
    background: url('images/plx-5.png'), 
    url('images/plx-4.png') , url('images/plx-3.png'), 
    url('images/plx-2.png'),
    url('images/plx-1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: contrast(140%);
    margin-top: -30px;
    overflow: hidden;
  

    animation: animateBack 5s steps(100) infinite;
    
}

.ground{
    position: relative;
    width: 1200px;
    height: 80px;
    /* border: 2px solid black; */
    bottom: 92px;
    left: 115px;
  
}

.player{
    /* position: relative; */
    /* top: 540px; */
    height: 85px;
    
    /* right: 680px; */
}

.enemy{
    width: 20px;
}

.jump{
    animation: jump 0.4s linear;
}

@keyframes animateBack
{
    from
    {background-position: 0;}
    to {background-position: -1200px};
}

@keyframes jump {
    0%{
        top: 605px;
        
    }

    30%{
        top: 560px;
    }

    50%{
        top: 540px;
        
    }

    80%{
        top: 560px;
    }

    100%{
        top:605px;
    }
}


.floor{
    position: absolute;
    top: 610px;
    right: 703px;
    width: 615px;
    height: 100px;
    visibility: hidden;
    animation: animateBack 3s steps(100) infinite;
}

.floor1{
    position: absolute;
    top: 610px;
    width: 618px;
    height: 100px;
    right: 102px;
    visibility: hidden;
    animation: animateBack 3s steps(100) infinite;
}

.title{
    margin-bottom: 25px;
    position: relative;
    left: 70px;
    z-index: 1;
    /* visibility: hidden; */

}

.hang{
    position: relative;
    height: 70px;
    z-index: 100;
    right: 1078px;
    top: 35px;
}

.air{
    position: relative;
    height: 44px;
    z-index: 100;
    right: 570px;
    bottom: 113px;
    visibility: hidden;
}

.idle{
    position: relative;
    height: 70px;
    z-index: 100;
    right: -45px;
    bottom: 23px;
}

.rules{
    position: relative;
    top: -615px;
    left: 1380px;
    border: 2px solid rgb(85, 120, 117);
    border-radius: 50%;
    width: 47px;
    height: 45px;
    z-index: 100;
    /* visibility: hidden; */

}

.rules-icon{
    position: relative;
    padding-top: 3px;
    height: 40px;
    
}

.rules-scroll{
    position: relative;
    right: 0px;
    z-index: 100;
    left: 450px;
    top: -1295px;
    width: 0px;
    height: 0px;
    
}

.scroll{
    height: 650px;
    width: 550px;
    display: none;
    position: relative;
    /* visibility: hidden; */

}
